{% extends 'baseClient.html.twig' %}
{% block title %}DGSR
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}
	<div class="text-center">
		<h1>
			creer ville</h1>
		<a href="{{path('dgsr_accueil')}}" class="btn btn-dark">Retour DGSR</a>

	</div>

	{{form_start(form)}}
	{{form_widget(form)}}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{form_end(form)}}

	<div class="mt-5">
		<h3>
			liste des villes</h3>

		<ul class="">
			{% for ville in villes %}
				<li>
					{{ville.nom}}
					/
					{{ville.region.nom}}
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}

{% block javascripts %}{% endblock %}
