{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/datatables_pagination.css')}}" rel="stylesheet">
{% endblock %}
{% block current_page %}{% endblock %}
{% block content %}
	<button id="btn-launch-modal" type="button" class="btn btn-primary" style="display : block" data-toggle="modal" data-target="#modalAjoutMpitondraRaharaha">
		Launch demo modal
	</button>


	{# {% for date, mpitondra in mpitondraRehetra %} #}


	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Date/Andraikitra</th>
				{% for key,mpitondra in mpitondraRehetra %}
					{% set nbrColumnMois = ( (mpitondra|length)/3) %}

					{% set test =  (nbrColumnMois > 3 and nbrColumnMois < 4) ? 4 : nbrColumnMois %}

					<th colspan={{test}}>
						{{key}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for abbrevAndraiktra,liste in parAndraikitra %}
				<tr>
					<td>{{abbrevAndraiktra}}</td>
					{% for item in liste %}
						<td>{{item}}</td>
					{% endfor %}

				</tr>
			{% endfor %}
		</tbody>
	</table>


	{# {% endfor %} #}


	<!-- Modal -->

	<div class="modal fade" id="modalAjoutMpitondraRaharaha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog" role="document">
			{# {{form_start(form)}} #}
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% include "mpitondra_raharaha/importation/index.html.twig" %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				</div>
			</div>
			{# {{form_end(form)}} #}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
	<script src="{{asset('vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script src="{{asset('js/filadelfia/datatable.fr.js')}}"></script>
	<script src="{{asset('js/filadelfia/mpitondra_raharaha/recherche_multitables.js')}}"></script>
{% endblock %}
