{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/datatables_pagination.css')}}" rel="stylesheet">

	<style>
		
		/* Style the table to look like a sheet */
		table.sheet-table {
		  border-collapse: collapse;
		  width: 100%;
		  border: 1px solid #ccc;
		}

		table.sheet-table th, table.sheet-table td {
		  border: 1px solid #ccc;
		  padding: 8px;
		  text-align: center;
		}

		/* Style the table header */
		table.sheet-table th {
		  background-color: #f2f2f2;
		  font-weight: bold;
		}

		/* Style the odd rows with a light background */
		table.sheet-table tr:nth-child(odd) {
		  background-color: #f9f9f9;
		}

		/* Style the table cells on hover */
		table.sheet-table td:hover {
		  background-color: #e0e0e0;
		  cursor: pointer;
		}
		  /* Style for the input fields */
    	input.sheet-input {
	      border: none;
	      width: 100%;
	      box-sizing: border-box;
	    }
	    .ui-autocomplete {
		  max-height: 200px; /* Set the maximum height you want */
		  overflow-y: auto; /* Enable vertical scrolling when content overflows */
		  position: absolute !important; /* Ensure the dropdown is positioned correctly */
		}
		.ui-autocomplete .ui-menu-item {
		  background-color: #f0f0f0; /* Change to your desired background color */
		  list-style: none; /* Remove the bullet points */
		  padding: 5px; /* Adjust padding as needed */
		}

		.ui-autocomplete .ui-menu-item:hover {
		  background-color: #ccc; /* Change to your desired hover background color */
		}
		/* Add your desired highlight style here */
		.highlighted {
		  background-color: yellow; /* Change to your desired highlight color */
		  font-weight: bold; /* You can apply other styles as well */
		}

	</style>

{% endblock %}
{% block current_page %}{% endblock %}
{% block content %}
	<button id="btn-launch-modal" type="button" class="btn btn-primary" style="display : block" data-toggle="modal" data-target="#modalAjoutMpitondraRaharaha">
		Launch demo modal
	</button>


	{# {% for date, mpitondra in mpitondraRehetra %} #}


	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Mpitondra raharaha
					</h5>
				</div>
				<div class="row">
					<div
						class="mr-2">{# <a class="btn btn-outline-primary" href="{{ path('registre_new') }}">Nouveau registre</a> #}
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">

			<table class="table table-bordered" id="mpitondraRaharaha">
				<thead>
					<tr>
						<th>Date/Andraikitra</th>
						{% for key,mpitondra in mpitondraRehetra %}
							{% set nbrColumnMois = ( (mpitondra|length)/3) %}

							{% set test =  (nbrColumnMois > 3 and nbrColumnMois < 4) ? 4 : nbrColumnMois %}

							{% for i in 1..test %}
								<th>
									{{key}}</th>
							{% endfor %}

						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for abbrevAndraiktra,liste in parAndraikitra %}
						<tr>
							<td>{{abbrevAndraiktra}}</td>
							{% for item in liste %}
								<td>{{item}}</td>
							{% endfor %}

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div>
	{# {% endfor %} #}

	<!-- Modal -->

	<div class="modal fade" id="modalAjoutMpitondraRaharaha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog" role="document">
			{# {{form_start(form)}} #}
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% include "mpitondra_raharaha/importation/index.html.twig" %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				</div>
			</div>
			{# {{form_end(form)}} #}
		</div>
	</div>


	{{dump(structure)}}

	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Mpitondra raharaha
					</h5>
				</div>
				<div class="row">
					<div
						class="mr-2">{# <a class="btn btn-outline-primary" href="{{ path('registre_new') }}">Nouveau registre</a> #}
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">

			<form method="post" action="{{path('creer_mpitondra_raharaha')}}">
				

			<table class="sheet-table" id="strucuture">
				<thead>
					<tr>
						<th></th>
						{% for key,mois in structure %}
							<th colspan={{ structure[key]|length}}>{{key}}</th>
						{% endfor %}
					</tr>

				</thead>
				<tbody>

					<tr>
						<td>Dates</td>
						{% set separator = "-" %}
						{% set concatenatedDays = [] %}
						{% for key,mois in structure %}
							{% for key2,week in structure[key] %}
								<td colspan="">
									{% for date in mois[key2] %}
										{% set parts = date|split(separator) %}
										{% if parts[2] is defined %}
											{% set day = parts[2] %}
											{# Extract the day part from the date #}
											{% set concatenatedDays = concatenatedDays|merge([day]) %}
										{% endif %}
									{% endfor %}
									{{ concatenatedDays|join(',') }}
								</td>
								{% set concatenatedDays = [] %}
							{% endfor %}
						{% endfor %}
					</tr>
					<tr>
						<td>N°semaine</td>
						{% for key,mois in structure %}
							{% for key2,week in structure[key] %}
								<td>{{ key2 }}</td>
							{% endfor %}
						{% endfor %}
					</tr>

					{% for raharaha in andraikitraRehetra %}
						<tr>
							<td>{{raharaha.andraikitra}}</td>
							{% for key,mois in structure %}
								{% for key2,week in structure[key] %}
									<td> <input type="text" name="{{key2~'-'~raharaha.abbreviation}}" class="sheet-input highlightable highlightable" data-id="" id={{key2~'-'~raharaha.abbreviation}} > </td>
								{% endfor %}
							{% endfor %}
						</tr>
					{% endfor %}

				</tbody>
			</table>

			<button type="submit" class="btn btn-primary" >test</button>
			</form>

		</div>
		<!-- /.card-body -->
	</div>


{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
	<script src="{{asset('js/utils/bs-custom-file-input.min.js')}}"></script>

	<script src="{{asset('vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script src="{{asset('js/filadelfia/datatable.fr.js')}}"></script>
	<script src="{{asset('js/utils/jquery-ui.js')}}"></script>

<script>
$(function() {
  // Sample data source for the autocomplete

  var availableTags = [];

	var frenchNames = [
	  'Lucas', 'Chloé', 'Louis', 'Emma', 'Gabriel', 'Jade', 'Adam', 'Léa', 'Raphaël', 'Mila',
	  'Arthur', 'Manon', 'Jules', 'Lina', 'Léo', 'Rose', 'Hugo', 'Léna', 'Nathan', 'Inès',
	  'Maël', 'Louise', 'Sacha', 'Ambre', 'Paul', 'Zoé', 'Nolan', 'Alice', 'Gabin', 'Camille',
	  'Mia', 'Tom', 'Léana', 'Noah', 'Julia', 'Enzo', 'Lou', 'Ethan', 'Louane', 'Mathis', 'Romane',
	  'Clément', 'Lola', 'Tiago', 'Charlotte', 'Théo', 'Eva', 'Sami', 'Anna', 'Nino', 'Juliette',
	  'Eliott', 'Ambre', 'Mael', 'Lucie', 'Noé', 'Lucie', 'Liam', 'Lily', 'Eden', 'Lisa',
	  'Mathéo', 'Lilou', 'Axel', 'Clara', 'Aaron', 'Léonie', 'Léandre', 'Louna', 'Lysandre', 'Mélina',
	  'Melvyn', 'Nour', 'Oscar', 'Perle', 'Samuel', 'Solène', 'Swan', 'Thaïs', 'Ulysse', 'Violette',
	  'Yanis', 'Yasmine', 'Zachary', 'Zélie'
	];

	var availableTags = [];

	for (var i = 0; i < 100; i++) {
	  var randomIndex = Math.floor(Math.random() * frenchNames.length);
	  var randomName = frenchNames[randomIndex];
	  var item = {
	    label: randomName,
	    value: randomName.toLowerCase(),
	    id: (i + 1).toString()
	  };
	  availableTags.push(item);
	}

  // Initialize the autocomplete widget
  $('.sheet-input').autocomplete({
    source: availableTags,
    select: function(event, ui) {
      // Set the input's value
      $(this).val(ui.item.label);
      
      // Set the data-id attribute of the input
      $(this).attr('data-id', ui.item.id);
      
      return false; // Prevent the default behavior of selecting the value
    },
    focus: function (event, ui) {
      $(".ui-helper-hidden-accessible").hide();
      event.preventDefault();
    }
  });
});

</script>
	<script>
		$(document).ready(function () {
$('#mpitondraRaharaha').DataTable();
});
	</script>


	<script>
	//for higlihting clicked value 
		$('.highlightable').on('focus', function() {
  // Get the value of the focused input
  var cellValue = $(this).val();

  // Remove previous highlighting from all cells
  $('.highlightable').removeClass('highlighted');

  // Highlight all inputs with the same value as the focused input
   if (cellValue.trim() !== '') {
    $('.highlightable').filter(function() {
      return $(this).val() === cellValue;
    }).addClass('highlighted');
  }
});
	</script>
{% endblock %}
