{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/datatables_pagination.css')}}" rel="stylesheet">
	<style>

		input.form-control {
			width: 100px !important;
		}
		table {
			border-collapse: collapse;
		}
		table td,
		table th,
		table tr {
			padding: 0;
			margin: 0;
		}
	</style>
{% endblock %}
{% block current_page %}{% endblock %}
{% block content %}
	<button id="btn-launch-modal" type="button" class="btn btn-primary" style="display : block" data-toggle="modal" data-target="#modalAjoutMpitondraRaharaha">
		Launch demo modal
	</button>


	{# {% for date, mpitondra in mpitondraRehetra %} #}


	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Mpitondra raharaha
					</h5>
				</div>
				<div class="row">
					<div
						class="mr-2">{# <a class="btn btn-outline-primary" href="{{ path('registre_new') }}">Nouveau registre</a> #}
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">

			<table class="table table-bordered" id="mpitondraRaharaha">
				<thead>
					<tr>
						<th>Date/Andraikitra</th>
						{% for key,mpitondra in mpitondraRehetra %}
							{% set nbrColumnMois = ( (mpitondra|length)/3) %}

							{% set test =  (nbrColumnMois > 3 and nbrColumnMois < 4) ? 4 : nbrColumnMois %}

							{% for i in 1..test %}
								<th>
									{{key}}</th>
							{% endfor %}

						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for abbrevAndraiktra,liste in parAndraikitra %}
						<tr>
							<td>{{abbrevAndraiktra}}</td>
							{% for item in liste %}
								<td>{{item}}</td>
							{% endfor %}

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div>
	{# {% endfor %} #}

	<!-- Modal -->

	<div class="modal fade" id="modalAjoutMpitondraRaharaha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog" role="document">
			{# {{form_start(form)}} #}
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% include "mpitondra_raharaha/importation/index.html.twig" %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				</div>
			</div>
			{# {{form_end(form)}} #}
		</div>
	</div>


	{{dump(structure)}}
	{{dump(andraikitraRehetra)}}

	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Mpitondra raharaha
					</h5>
				</div>
				<div class="row">
					<div
						class="mr-2">{# <a class="btn btn-outline-primary" href="{{ path('registre_new') }}">Nouveau registre</a> #}
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">

			<table class="table table-bordered table-responsive" id="strucuture">
				<thead>
					<tr>
						<th></th>
						{% for key,mois in structure %}
							<th colspan={{ structure[key]|length}}>{{key}}</th>
						{% endfor %}
					</tr>

				</thead>
				<tbody>

					<tr>
						<td>Dates</td>
						{% set separator = "-" %}
						{% set concatenatedDays = [] %}
						{% for key,mois in structure %}
							{% for key2,week in structure[key] %}
								<td colspan="">
									{% for date in mois[key2] %}
										{% set parts = date|split(separator) %}
										{% if parts[2] is defined %}
											{% set day = parts[2] %}
											{# Extract the day part from the date #}
											{% set concatenatedDays = concatenatedDays|merge([day]) %}
										{% endif %}
									{% endfor %}
									{{ concatenatedDays|join(',') }}
								</td>
								{% set concatenatedDays = [] %}
							{% endfor %}
						{% endfor %}
					</tr>
					<tr>
						<td>N°semaine</td>
						{% for key,mois in structure %}
							{% for key2,week in structure[key] %}
								<td>{{ key2 }}</td>
							{% endfor %}
						{% endfor %}
					</tr>

					{% for raharaha in andraikitraRehetra %}
						<tr>
							<td>
								{{raharaha.andraikitra}}
							</td>
							{% for key,mois in structure %}
								{# key représente le numéro de semaine #}
								{% for key2,week in structure[key] %}


									<td>
										<input id="{{key2 ~'-'~ raharaha.abbreviation}}" type="text" class="form-control">
									</td>
								{% endfor %}
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<!-- /.card-body -->
	</div>


{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
	<script src="{{asset('js/utils/bs-custom-file-input.min.js')}}"></script>

	<script src="{{asset('vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script src="{{asset('js/filadelfia/datatable.fr.js')}}"></script>

	<script>
		$(document).ready(function () {
$('#mpitondraRaharaha').DataTable();
});
	</script>
{% endblock %}
