{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/datatables_pagination.css')}}" rel="stylesheet">

	<style>

		/* Style the table to look like a sheet */
		table.sheet-table {
			border-collapse: collapse;
			width: 100%;
			border: 1px solid #ccc;
			table-layout: fixed;
		}

		table.sheet-table th,
		table.sheet-table td {
			border: 1px solid #ccc;
			padding: 8px;
			text-align: center;
			width: 75px !important;
			font-size: 12px;

		}

		/* Style the table header */
		table.sheet-table th {
			background-color: #f2f2f2;
			font-weight: bold;
		}

		/* Style the odd rows with a light background */
		table.sheet-table tr:nth-child(odd) {
			background-color: #f9f9f9;
		}

		/* Style the table cells on hover */
		table.sheet-table td:hover {
			background-color: #e0e0e0;
			cursor: pointer;
		}
		/* Style for the input fields */
		input.sheet-input {
			border: none;
			width: 100%;
			box-sizing: border-box;
		}
		.ui-autocomplete {
			max-height: 200px; /* Set the maximum height you want */
			width: 100px; /* Set the maximum height you want */
			overflow-y: auto; /* Enable vertical scrolling when content overflows */
			overflow-x: hidden; /* Enable vertical scrolling when content overflows */
			position: absolute !important; /* Ensure the dropdown is positioned correctly */
			background-color: #f0f0f0; /* Change to your desired background color */
		}
		.ui-autocomplete .ui-menu-item {
			list-style: none; /* Remove the bullet points */
			padding: 0; /* Adjust padding as needed */
		}

		ul.ui-autocomplete {
			padding: 15px;
		}
		.ui-autocomplete .ui-menu-item:hover {
			background-color: #ccc; /* Change to your desired hover background color */
		}
		/* Add your desired highlight style here */
		.highlighted {
			background-color: yellow; /* Change to your desired highlight color */
			font-weight: bold;
			color: blue; /* You can apply other styles as well */
		}
		.highlighted2 {
			background-color: green;
			color: white;
		}
	</style>

{% endblock %}
{% block current_page %}{% endblock %}
{% block content %}

	<!-- Modal -->

	<div class="modal fade" id="modalAjoutMpitondraRaharaha" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div
			class="modal-dialog" role="document">
			{# {{form_start(form)}} #}
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					{% include "mpitondra_raharaha/importation/index.html.twig" %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				</div>
			</div>
			{# {{form_end(form)}} #}
		</div>
	</div>


	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Trimestre et année
					</h5>
				</div>
				<div class="row">
					<div class="mr-2">
						<div>
							<button id="btn-launch-modal" type="button" class="btn btn-outline-secondary" style="display : block" data-toggle="modal" data-target="#modalAjoutMpitondraRaharaha">
								Importer mpitondra raharaha
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<form action="{{path('mpitondra_raharaha')}}">
				<div class="row">
					<div class="quarter col-md-5">

						<div class="form-group">
							<label for="exampleSelectRounded0">Trimetre :

							</label>
							<select class="custom-select rounded-0" name="quarter">
								<option value="1">1er Trimestre</option>
								<option value="2">2ème Trimestre</option>
								<option value="3">3ème Trimestre</option>
								<option value="4">4ème Trimestre</option>
							</select>
						</div>
					</div>
					<div class="year col-md-5">
						<div class="form-group">
							<label>Année :
							</label>
							<input type="number" class="form-control" placeholder="année ..." name="year">
						</div>
					</div>
					<div class="col-md-2">
						<label style="display : block; color:white">r</label>
						<button class="btn btn-outline-secondary">
							Chercher
						</button>
					</div>
				</div>
			</div>
		</form>
		<!-- /.card-body -->
	</div>


	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Mpitondra raharaha |
						<span class="quarter">Trimestre :
							{{quarter}}
						</span>
						|
						<span class="year">
							Année :
							{{year}}
						</span>
					</h5>
				</div>
				<div class="row">
					<div class="mr-2">

						<div>

							<button id="btnPrint" class="btn btn-outline-secondary">
								Print table
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			{{dump(structure)}}
			<form method="post" action="{{path('creer_mpitondra_raharaha')}}">

				<table class="sheet-table table-striped" id="structure">
					<thead>
						<tr>
							<th></th>
							{% for key,mois in structure %}

								{% for i in 1..structure[key]|length  %}
									<th>{{key}}</th>

								{% endfor %}

							{% endfor %}
						</tr>

					</thead>
					<tbody>

						<tr>
							<td>Dates</td>
							{% set separator = "-" %}
							{% set concatenatedDays = [] %}
							{% set parts = [] %}
							{% for key,mois in structure %}
								{% for key2,week in structure[key] %}
									<td colspan="">
										{% for date in mois[key2] %}

											{% if date is iterable %}

												{% for key, value in date %}
													{% if key == 'date' %}
														{% set parts = value|split(separator) %}

													{% endif %}
												{% endfor %}

												{% if parts[2] is defined %}
													{% set day = parts[2] %}
													{# Extract the day part from the date #}
													{% set concatenatedDays = concatenatedDays|merge([day]) %}
												{% endif %}
											{% endif %}


										{% endfor %}
										{{ concatenatedDays|join(',') }}
									</td>
									{% set concatenatedDays = [] %}
								{% endfor %}
							{% endfor %}
						</tr>
						<tr>
							<td>N°semaine</td>
							{% for key,mois in structure %}
								{% for key2,week in structure[key] %}
									<td>{{ key2 }}</td>
								{% endfor %}
							{% endfor %}
						</tr>

						{% for raharaha in andraikitraRehetra %}

							<tr>
								<td class="raharaha">{{raharaha.andraikitra}}</td>
								{% for key,mois in structure %}
									{% for key2,week in structure[key] %}
										<td>
											{# <input type="text" name="{{key~'_'~key2~'-'~raharaha.abbreviation}}" class="sheet-input highlightable highlightable" data-id="" id={{key~'_'~key2~'-'~raharaha.abbreviation}}> #}
											{# <input type="hidden" name="{{key~'_'~key2~'-'~raharaha.abbreviation~'_data' }}" > #}


												{% if "alar" in raharaha.abbreviation %}
													{% if week["wednesday"]["date"] is not defined %}
													---
												{% else %}
													{# Code to execute if "alar" is in raharaha.abbreviation and week["wednesday"]["date"] is defined #}
													{% if week["wednesday"]["data"][raharaha.abbreviation] is defined %}
														<input type="text" name="{{key~'_'~key2~'-'~raharaha.abbreviation}}" value="{{week["wednesday"]["data"][raharaha.abbreviation]["mambra"]}}" class="sheet-input highlightable highlightable" data-id="" id="{{key~'_'~key2~'-'~raharaha.abbreviation}}">
														<input type="hidden" name="{{key~'_'~key2~'-'~raharaha.abbreviation~'_data' }}" value="{{week["wednesday"]["data"][raharaha.abbreviation]["mambraId"]}}">

													{% else %}
														<input type="text" name="{{key~'_'~key2~'-'~raharaha.abbreviation}}" class="sheet-input highlightable highlightable" data-id="" id={{key~'_'~key2~'-'~raharaha.abbreviation}}>
														<input type="hidden" name="{{key~'_'~key2~'-'~raharaha.abbreviation~'_data' }}">
													{% endif %}
												{% endif %}
											{% elseif "zoma" in raharaha.abbreviation %}
												{% if week["friday"]["date"] is not defined %}
													---
												{% else %}
													{# Code to execute if "zoma" is in raharaha.abbreviation and week["friday"]["date"] is defined #}
													{% if week["friday"]["data"][raharaha.abbreviation] is defined %}
														<input type="text" name="{{key~'_'~key2~'-'~raharaha.abbreviation}}" value="{{week["friday"]["data"][raharaha.abbreviation]["mambra"]}}" class="sheet-input highlightable highlightable" data-id="" id="{{key~'_'~key2~'-'~raharaha.abbreviation}}">
														<input type="hidden" name="{{key~'_'~key2~'-'~raharaha.abbreviation~'_data' }}" value="{{week["friday"]["data"][raharaha.abbreviation]["mambraId"]}}">
													{% else %}
														<input type="text" name="{{key~'_'~key2~'-'~raharaha.abbreviation}}" class="sheet-input highlightable highlightable" data-id="" id={{key~'_'~key2~'-'~raharaha.abbreviation}}>
														<input type="hidden" name="{{key~'_'~key2~'-'~raharaha.abbreviation~'_data' }}">
													{% endif %}
												{% endif %}
											{% elseif "sabata" in raharaha.abbreviation %}
												{% if week["saturday"]["date"] is not defined %}
													---
												{% else %}
													{# Code to execute if "sabata" is in raharaha.abbreviation and week["saturday"]["date"] is defined #}
													{% if week["saturday"]["data"][raharaha.abbreviation] is defined %}
														<input type="text" name="{{key~'_'~key2~'-'~raharaha.abbreviation}}" value="{{week["saturday"]["data"][raharaha.abbreviation]["mambra"]}}" class="sheet-input highlightable highlightable" data-id="" id="{{key~'_'~key2~'-'~raharaha.abbreviation}}">
														<input type="hidden" name="{{key~'_'~key2~'-'~raharaha.abbreviation~'_data' }}" value="{{week["saturday"]["data"][raharaha.abbreviation]["mambraId"]}}">
													{% else %}
														<input type="text" name="{{key~'_'~key2~'-'~raharaha.abbreviation}}" class="sheet-input highlightable highlightable" data-id="" id={{key~'_'~key2~'-'~raharaha.abbreviation}}>
														<input type="hidden" name="{{key~'_'~key2~'-'~raharaha.abbreviation~'_data' }}">
													{% endif %}
												{% endif %}
											{% endif %}

										</td>
									{% endfor %}
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="text-center mt-5">
					<button type="submit" class="btn btn-primary">Enregistrer</button>
				</div>
			</form>

		</div>
		<!-- /.card-body -->
	</div>

	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Récapitulation
					</h5>
				</div>
				<div class="row">
					<div class="mr-2">
						<div></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div id="nameList"></div>
			<!-- /.card-body -->
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<!-- Datatables -->
	<script src="{{asset('js/utils/bs-custom-file-input.min.js')}}"></script>

	<script src="{{asset('vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script src="{{asset('js/filadelfia/datatable.fr.js')}}"></script>
	<script src="{{asset('js/utils/jquery-ui.js')}}"></script>
	<script src="{{asset('js/mpitondraRaharaha/insert.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/xlsx.full.min.js')}}"></script>
	<script src="{{asset('js/mpitondraRaharaha/exportTable.js')}}"></script>
	<script src="{{asset('js/mpitondraRaharaha/dashboard.js')}}"></script>

	<script>
		$(document).ready(function () {
$('#mpitondraRaharaha').DataTable();
});
	</script>


	<script>
		// for higlihting clicked value
$('.highlightable').on('focus', function () { // Get the value of the focused input
var cellValue = $(this).val();

// Remove previous highlighting from all cells
$('.highlightable').removeClass('highlighted');

// Highlight all inputs with the same value as the focused input
if (cellValue.trim() !== '') {
$('.highlightable').filter(function () {
return $(this).val() === cellValue;
}).addClass('highlighted');
}
});
	</script>


	<script>
		// Ajoutez un gestionnaire d'événements focus à chaque champ d'entrée
const inputs = document.querySelectorAll('input');
inputs.forEach(input => {
input.addEventListener('focus', () => { // Trouvez la cellule la plus à gauche dans la même ligne
const row = input.closest('tr');
const leftCell = row.querySelector('.raharaha');

// Ajoutez la classe CSS pour mettre en évidence
leftCell.classList.add('highlighted2');
});

input.addEventListener('blur', () => { // Lorsque le curseur quitte la cellule, supprimez la classe CSS d'highlight
const row = input.closest('tr');
const leftCell = row.querySelector('.raharaha');

leftCell.classList.remove('highlighted2');
});
});
	</script>
{% endblock %}
