{% extends 'baseClient.html.twig' %}
{% block title %}DGSR
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}
	<div class="text-center">
		<h1>
			creer centre</h1>
		<a href="{{path('dgsr_accueil')}}" class="btn btn-dark">Retour DGSR</a>

	</div>

	{{form_start(form)}}
	{{form_widget(form)}}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{form_end(form)}}

	<div class="mt-5">
		<h3>
			liste des centres</h3>

		<ul class="">
			{% for centre in centres %}
				<li>
					{{centre.region.nom}}
					/
					{{centre.ville.nom}}
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}

{% block javascripts %}

	<script>
		var $region = $('#centre_region');
// When region gets selected ...
$region.change(function () { // ... retrieve the corresponding form.
var $form = $(this).closest('form');
// Simulate form data, but only include the selected region value.
var data = {};
data[$region.attr('name')] = $region.val();
// Submit data via AJAX to the form's action path.
$.ajax({
url: $form.attr('action'),
type: $form.attr('method'),
data: data,
complete: function (html) { // Replace current ville field ...
$('#centre_ville').replaceWith(
// ... with the returned one from the AJAX response.
$(html.responseText).find('#centre_ville')
);
// ville field now displays the appropriate villes.
}
});
});
	</script>

{% endblock %}
