{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Fiangonana
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block title_page %}{% endblock %}
{% block current_page %}Connexion
{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-md-4">
			<div class="card-body login-card-body">
				<p class="login-box-msg">Connexion</p>

				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.username }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<div
						class="input-group mb-3">
						{# <input type="email" class="form-control" placeholder="Email"> #}
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div
						class="input-group mb-3">
						{# <input type="password" class="form-control" placeholder="Password"> #}
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<div
						class="row">

						<!-- /.col -->
						<div class="col-12 text-center">
							<button type="submit" class="btn btn-primary btn-block">Sign In</button>
						</div>
						<!-- /.col -->
					</div>
				</form>

				<!-- /.social-auth-links -->
			</div>

		</div>
	</div>

{% endblock %}
