{% extends 'baseFiladelfia.html.twig' %}
{% block title %}Filadelfia sokajy taona
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}
	<div class="container">

		<div
			class="row">
			{# total #}
			<div class="col-md-2">
				<div class="card text-white bg-primary2 mb-2  p-1">

					<div class="card-body">
						{% set nbrHomme = 0 %}
						{% set nbrFemme= 0 %}
						{% for mambra in mambra %}
							{% if mambra.sexe == "masculin" %}
								{% set nbrHomme = nbrHomme + 1 %}
							{% else %}
								{% set nbrFemme = nbrFemme + 1 %}
							{% endif %}
						{% endfor %}
						<h5 class="card-title mb-0">
							TOTAL
						</h5>
						<p class="mt-0 pt-0">Hommes :
							{{nbrHomme}}
							Femmes :
							{{nbrFemme}}
							Total :
							{{lehibe|length}}
						</p>
						<h5></h5>
					</div>
				</div>
			</a>
		</div>
		<div
			class="col-md-2">
			{# lehibe #}
			<a href="#lehibe">
				<div class="card text-white bg-red mb-2  p-1">
					<div class="card-body">
						{% set nbrHommeLehibe = 0 %}
						{% set nbrFemmeLehibe = 0 %}
						{% for mambra in lehibe %}
							{% if mambra.sexe == "masculin" %}
								{% set nbrHommeLehibe = nbrHommeLehibe + 1 %}
							{% else %}
								{% set nbrFemmeLehibe = nbrFemmeLehibe + 1 %}
							{% endif %}
						{% endfor %}
						<h5 class="card-title mb-0">
							Lehibe
						</h5>
						<p class="mt-0 pt-0">Hommes :
							{{nbrHommeLehibe}}
							Femmes :
							{{nbrFemmeLehibe}}
							Total :
							{{lehibe|length}}
						</p>
						<h5></h5>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-2">
			<a href="#TZ">
				<div class="card text-white bg-violet mb-2  p-1">
					<div class="card-body">

						{% set nbrHommeTZ = 0 %}
						{% set nbrFemmeTZ = 0 %}
						{% for mambra in tanoraZokiny %}
							{% if mambra.sexe == "masculin" %}
								{% set nbrHommeTZ = nbrHommeTZ + 1 %}
							{% else %}
								{% set nbrFemmeTZ = nbrFemmeTZ + 1 %}
							{% endif %}
						{% endfor %}
						<h5 class="card-title mb-0">
							T. zokiny
						</h5>
						<p class="mt-0 pt-0">Hommes :
							{{nbrHommeTZ}}
							Femmes :
							{{nbrFemmeTZ}}
							Total :{{tanoraZokiny|length}}
						</p>
					</div>
				</div>
			</a>
		</div>
		<div
			class="col-md-2">
			{# zatovo #}
			<a href="#Z" class="">

				<div class="card text-white bg-gray1 mb-2  p-1">
					<div class="card-body">

						{% set nbrHommeZ = 0 %}
						{% set nbrFemmeZ = 0 %}
						{% for mambra in zatovo %}
							{% if mambra.sexe == "masculin" %}
								{% set nbrHommeZ = nbrHommeZ + 1 %}
							{% else %}
								{% set nbrFemmeZ = nbrFemmeZ + 1 %}
							{% endif %}
						{% endfor %}
						<h5 class="card-title mb-0">
							Zatovo
						</h5>
						<p class="mt-0 pt-0">Hommes :
							{{nbrHommeZ}}
							Femmes :
							{{nbrFemmeZ}}
							Total :{{zatovo|length}}
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-2">
			<a
				href="#TZA" class="">
				{# tanora zandriny #}
				<div class="card text-white bg-success2 mb-2  p-1">
					<div class="card-body">

						{% set nbrHommeTZA = 0 %}
						{% set nbrFemmeTZA = 0 %}
						{% for mambra in tanoraZandriny %}
							{% if mambra.sexe == "masculin" %}
								{% set nbrHommeTZA = nbrHommeTZA + 1 %}
							{% else %}
								{% set nbrFemmeTZA = nbrFemmeTZA + 1 %}
							{% endif %}
						{% endfor %}
						<h5 class="card-title mb-0">
							T. zandriny
						</h5>
						<p class="mt-0 pt-0">Hommes :
							{{nbrHommeTZA}}
							Femmes :
							{{nbrFemmeTZA}}
							Total :{{tanoraZandriny|length}}
						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="col-md-2">
			<a
				href="#A" class="">
				{# ankizy #}
				<div class="card text-white bg-gray2 mb-2  p-1">
					<div class="card-body">

						{% set nbrHommeA = 0 %}
						{% set nbrFemmeA = 0 %}
						{% for mambra in tanoraZandriny %}
							{% if mambra.sexe == "masculin" %}
								{% set nbrHommeA = nbrHommeA + 1 %}
							{% else %}
								{% set nbrFemmeA = nbrFemmeA + 1 %}
							{% endif %}
						{% endfor %}
						<h5 class="card-title mb-0">
							Ankizy
						</h5>
						<p class="mt-0 pt-0">Hommes :
							{{nbrHommeA}}
							Femmes :
							{{nbrFemmeA}}
							Total :{{ankizy|length}}
						</p>
					</div>
				</div>
			</a>
		</div>

	</div>

	<div class="mt-4 text-center" id="lehibe">
		<h3 class="">Kilasy Lehibe</h3>

		<p>({{lehibe|length}}
			personnes) / Hommes :
			{{nbrHommeLehibe}}
			/ Femmes :
			{{nbrFemmeLehibe}}
		</p>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom
				</th>

			</tr>
		</thead>
		<tbody>
			{% for mambra in lehibe %}
				<tr>
					<td>{{mambra.nom ? mambra.nom : "xxxxxxxxxxxxxxxx" }}</td>
					<td>{{mambra.prenom}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="mt-4 text-center" id="TZ">
		<h3 class="">Kilasy Tanora Zokiny</h3>

		<p>({{tanoraZokiny|length}}
			personnes) / Hommes :
			{{nbrHommeTZ}}
			/ Femmes :
			{{nbrFemmeTZ}}
		</p>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom
				</th>

			</tr>
		</thead>
		<tbody>
			{% for mambra in tanoraZokiny %}
				<tr>
					<td>{{mambra.nom}}</td>
					<td>{{mambra.prenom}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="mt-4 text-center" id="Z">
		<h3 class="">Kilasy Zatovo</h3>

		<p>({{zatovo|length}}
			personnes) / Hommes :
			{{nbrHommeZ}}
			/ Femmes :
			{{nbrFemmeZ}}
		</p>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom
				</th>

			</tr>
		</thead>
		<tbody>
			{% for mambra in zatovo %}
				<tr>
					<td>{{mambra.nom}}</td>
					<td>{{mambra.prenom}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="mt-4 text-center" id="TZA">
		<h3 class="">Kilasy Tanora zandriny</h3>

		<p>({{tanoraZandriny|length}}
			personnes) / Hommes :
			{{nbrHommeTZA}}
			/ Femmes :
			{{nbrFemmeTZA}}
		</p>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom
				</th>

			</tr>
		</thead>
		<tbody>
			{% for mambra in tanoraZandriny %}
				<tr>
					<td>{{mambra.nom}}</td>
					<td>{{mambra.prenom}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="mt-4 text-center" id="A">
		<h3 class="">Kilasy Ankizy</h3>
		<p>({{ankizy|length}}
			personnes) / Hommes :
			{{nbrHommeA}}
			/ Femmes :
			{{nbrFemmeA}}
		</p>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom
				</th>

			</tr>
		</thead>
		<tbody>
			{% for mambra in ankizy %}
				<tr>
					<td>{{mambra.nom}}</td>
					<td>{{mambra.prenom}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>{% endblock %}{% block javascripts %}{% endblock %}
