<h3 class="text-center">
	Details de
	{{mambra.prenom}}
	{{mambra.nom}}

</h3>

<strong>
	Nom :
</strong>
{{mambra.nom}}
<br>
<strong>
	Prénom :
</strong>
{{mambra.prenom}}
<br>
<strong>
	Sexe :
</strong>
{{mambra.sexe}}
<br>
<strong>
	Date de naissance :
</strong>
{{mambra.dateNaissance ? mambra.dateNaissance|date('d-m-Y') : "--"}}
<br>
<strong>
	Famille :
</strong>
{{mambra.famille.nom}}
