<li class="nav-header">SEKOLY SABATA</li>
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-chart-pie"></i>
		<p>
			Registre
			<i class="right fas fa-angle-left"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{path('registre_index')}}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Liste</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{path('registre_new')}}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Créer simple</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{path('registre_new_mambra')}}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Créer avec membre</p>
			</a>
		</li>

	</ul>
</li>


<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-chart-pie"></i>
		<p>
			Kilasy sesa
			<i class="right fas fa-angle-left"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{path('kilasy_new')}}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Créer kilasy</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{path('kilasy_index')}}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Liste kilasy</p>
			</a>
		</li>

		<li class="nav-item">
			<a href="{{path('kilasy_lasitra_index')}}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Kilasy lasitra</p>
			</a>
		</li>
	</ul>
</li>

<li class="nav-item">
	<a href="{{path('stat_index')}}" class="nav-link">
		<i class="nav-icon fas fa-chart-pie"></i>
		<p>
			Statistique
		</p>
	</a>
</li>
