{% extends 'baseHira.html.twig' %}
{% block title %}Fihirana
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}

{% form_theme form _self %}

{% block body %}
	<h1>Create new Hira</h1>

	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">
			<label for="">Titre :
			</label>
			{{ form_widget(form.titre) }}
		</div>
		<div class="col-md-6">
			<label for="">Type :
			</label>
			{{ form_widget(form.type) }}
		</div>
		<div class="col-md-6">
			<label for="">Numero :
			</label>
			{{ form_widget(form.numero) }}
		</div>
		<div class="col-md-6">
			<label for="">Clé :
			</label>
			{{ form_widget(form.cle) }}
		</div>
	</div>
	{{ form_end(form) }}


	<a href="{{ path('hira_index') }}">back to list</a>
{% endblock %}

{% block _hira_tononkiras_widget  %}

	{{form_widget(form)}}
	<div class="form-group mt-4">
		<button type="button" class="btn btn-primary" id="add-tononkira">Ajouter tononkira</button>
	</div>

{% endblock %}

{% block _hira_tononkiras_entry_row %}
	{{form_widget(form)}}
{% endblock %}

{% block _hira_tononkiras_entry_widget %}
	<div class="form-group form_tononkira">
		<div class="row">
			<div class="col-12">
				<label for="">Choisir type</label>
				{{form_widget(form.type)}}
			</div>
			<div class="col-12">
				<label for="">Contenu tononkira</label>
				{{form_widget(form.content)}}
			</div>
		</div>
	</div>
{% endblock %}


{% block javascripts %}
	<script src="{{asset('js/hira/add_hira.js')}}"></script>
{% endblock %}
