{% extends 'baseHira.html.twig' %}
{% block title %}Fihirana
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}

{% block body %}
	<h1>Hira</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>numero</th>
				<td>{{ hira.numero }}</td>
			</tr>
			<tr>
				<th>Type</th>
				<td>{{ hira.type }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ hira.titre }}</td>
			</tr>
			<tr>
				<th>Cle</th>
				<td>{{ hira.cle }}</td>
			</tr>


		</tbody>
	</table>

	<div class="row">
		{% for tononkira in hira.tononkiras %}
			<div class="col-md-6">
				<p>{{tononkira.content}}</p>
			</div>
		{% endfor %}
	</div>

	<a href="{{ path('hira_index') }}">back to list</a>

	<a href="{{ path('hira_edit', {'id': hira.id}) }}">edit</a>

	{{ include('hira/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}{% endblock %}
