{% extends 'baseFiladelfia.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<!-- Datatables -->
	<link href="{{asset('vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('css/datatables_pagination.css')}}" rel="stylesheet">
{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}

	<h3 class="text-center">Mpitondra raharaha
		{{"now"|date('Y')}}</h3>
	<a href="{{path('filadelfia_creer_mpitondra_raharaha')}}" class="btn btn-danger">Ajouter mpitondra raharaha</a>
	<a href="{{path('sesa_index')}}" class="btn btn-dark">Kilasy sekoly sabata</a>
	<div class="d-flex justify-content-end">
		<div class="">
			<label for="">Rechercher un nom</label>
		</div>
	</div>
	<div class="d-flex justify-content-end">
		<div class="col-4">
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="form-control ">
		</div>
	</div>
	{% for key, mois in sabbatParMois %}
		<h3 class="text-center text-danger">
			{{key}}</h3>
		<div class="mt-4 mb-4">
			<table class="table table-bordered" id="datatable_{{key}}" data-name="mytable">
				<thead>
					<tr>
						<th scope="col">#</th>
						{% for sabbat in mois %}
							<th scope="col">
								Sabata
								{{sabbat|date('d-m-Y')}}
							</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1_Presides</th>
						{% for sabbat in mois %}
							<td>
								{% for item in mpitondraRaharaha %}
									{% if sabbat|date('d-m-Y') == item.dateSabata|date('d-m-Y') %}
										{{item.presides.prenom}}
									{% endif %}
								{% endfor %}
							</td>
						{% endfor %}
					</tr>
					<tr>
						<th scope="row">2_5mn</th>
						{% for sabbat in mois %}
							<td>
								{% for item in mpitondraRaharaha %}
									{% if sabbat|date('d-m-Y') == item.dateSabata|date('d-m-Y') %}
										{{item.dimyMinitra.prenom}}
									{% endif %}
								{% endfor %}
							</td>

						{% endfor %}
					</tr>
					<tr>
						<th scope="row">3_T.M.T</th>
						{% for sabbat in mois %}
							<td>
								{% for item in mpitondraRaharaha %}
									{% if sabbat|date('d-m-Y') == item.dateSabata|date('d-m-Y') %}
										{{item.tmt.prenom}}
									{% endif %}
								{% endfor %}
							</td>

						{% endfor %}
					</tr>
					<tr>
						<th scope="row">4_Lesona</th>
						{% for sabbat in mois %}
							<td>
								{% for item in mpitondraRaharaha %}
									{% if sabbat|date('d-m-Y') == item.dateSabata|date('d-m-Y') %}
										{{item.lesona.prenom}}
									{% endif %}
								{% endfor %}
							</td>

						{% endfor %}
					</tr>
					<tr>
						<th scope="row">5_Mpitory teny</th>
						{% for sabbat in mois %}
							<td>
								{% for item in mpitondraRaharaha %}
									{% if sabbat|date('d-m-Y') == item.dateSabata|date('d-m-Y') %}
										{{item.mpitoryTeny.prenom}}
									{% endif %}
								{% endfor %}
							</td>

						{% endfor %}
					</tr>
					<tr>
						<th scope="row">6_Presides hariva</th>
						{% for sabbat in mois %}
							<td>
								{% for item in mpitondraRaharaha %}
									{% if sabbat|date('d-m-Y') == item.dateSabata|date('d-m-Y') %}
										{{item.presidesHariva.prenom}}
									{% endif %}
								{% endfor %}
							</td>

						{% endfor %}
					</tr>
				</tbody>
			</table>
		</div>
	{% endfor %}
{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
	<script src="{{asset('vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script src="{{asset('js/filadelfia/datatable.fr.js')}}"></script>
	<script src="{{asset('js/filadelfia/mpitondra_raharaha/recherche_multitables.js')}}"></script>
{% endblock %}
