{% extends 'baseClient.html.twig' %}
{% block title %}DGSR
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}
	<div class="text-center">
		<h1>
			creer personnel</h1>
		<a href="{{path('dgsr_accueil')}}" class="btn btn-dark">Retour DGSR</a>

	</div>

	{{form_start(form)}}
	{{form_row(form.nom)}}
	{{form_row(form.prenom)}}
	{{form_row(form.direction)}}
	{# {{form_row(form.service)}} #}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{form_end(form)}}

	<div class="mt-5">
		<h3>
			liste des personnels</h3>
		{% if personnels|length == 0 %}
			pas de personnels enregistrés
		{% else %}
			<table class="table-bordered  table-secondary">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Service</th>
						<th>Direction</th>
					</tr>
				</thead>
				<tbody>
					{% for per in personnels %}
						<tr>
							<td>{{per.nom}}</td>
							<td>{{per.service ? per.service.nom :  ""}}</td>
							{# <td>{{ per.service ? per.service.direction.nom :  "" }}</td> #}
							<td>
								<a href="{{path('dgsr_modifier_personnel', {'id' : per.id })}}" class="btn btn-danger">
									<i class="fa fa-edit"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% endif %}
	</div>
{% endblock %}
{% block javascripts %}

	<script>
		var $direction = $('#personnel_direction');
// When sport gets selected ...
$direction.change(function () { // ... retrieve the corresponding form.
var $form = $(this).closest('form');
// Simulate form data, but only include the selected sport value.
var data = {};
data[$direction.attr('name')] = $direction.val();
// Submit data via AJAX to the form's action path.
console.log(data);
$.ajax({
url: $form.attr('action'),
type: $form.attr('method'),
data: data,
complete: function (html) {
console.log(html.responseText);
// Replace current position field ...
$('#personnel_service').replaceWith(
// ... with the returned one from the AJAX response.
$(html.responseText).find('#personnel_service')
);
// Position field now displays the appropriate positions.
}
});
});
	</script>
{% endblock %}
