{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/sekolySabata/stat/flatpickr.css')}}">
{% endblock %}
{% block title_page %}{% endblock %}
{% block current_page %}{% endblock %}

{% block content %}
	<style>
		.custom-badge {
			font-weight: 500;
			border-radius: 4px;
			padding: 5px;
		}
	</style>

	<div class="row">
		<div class="col-md-3">

			<div class="card card-success">
				<div class="card-header">
					<h3 class="card-title">Info sur les 5 dernières opérations
					</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body">
					<p>Nombre de kilasy rehetra :
						{{nbrKilasyRehetra}}</p>
					<table class="table table-stripped">
						<thead>
							<tr>
								<th>Date</th>
								<th>Nbr registres</th>
							</tr>
						</thead>
						<tbody>
							{% set i = 0  %}
							{% for item in last5dates %}
								{% if i < 5 %}
									<tr>
										<td>
											{{item.date}}
										</td>
										<td>
											{{item.kilasy}}
										</td>
									</tr>
								{% endif %}
								{% set i = i + 1 %}
							{% endfor %}

						</tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card card-light">
				<div class="card-header">

					<div class="d-flex">
						<div class="mr-auto  bd-highlight">
							<div class="row">
								<div class="col-auto">
									<h4 class="title">Création registre
									</h4>
								</div>


							</div>
						</div>
						<div class="">
							<div class="">
								<div class="row">

									<div class="col-auto">
										<a class="btn btn-outline-info" href="{{ path('registre_index') }}">Liste registres
										</a>
									</div>
									<div class="col-auto"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-header -->

				<div class="card-body">
					<input type="hidden" value={{dateSessionRegistre}} id="dateSessionRegistre">
					{{ include('sekolySabata/registre/_form.html.twig') }}

				</div>
				<!-- /.card-body -->
			</div>
		</div>
		<div class="col-md-3">
			<div class="card card-info">
				<div class="card-header">
					<h3 class="card-title">Info sur :
						<span id="nomKilasy" classe="text-bold"></span>
					</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->
				<!-- form start -->
					<div class="card-body"> <table class="table table-stripped">

						<tbody>
							<tr>
								<td>
									<span class="text-bold text-danger">
										Type nbr membre :</span>
								</td>
								<td>
									<span id="type" class=" text-bold"></span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="text-bold text-info">nbr membres registre :</span>
								</td>
								<td>
									<span id="nbrRegistre" class=" text-bold"></span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="text-bold text-success">nbr membres personnalisé :</span>
								</td>
								<td>
									<span id="nbrCustom" class=" text-bold"></span>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="text-center">
						<div>
							<a class="btn btn-outline-secondary" id="btnEditKilasy" href="">Modifier kilasy
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script src="{{asset('js/sekolySabata/registre/new_simple.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/flatpickr.min.js')}}"></script>
	<script src="{{asset('js/sekolySabata/registre/flatpickrSettings.js')}}"></script>
{% endblock %}
