{% extends "baseAdminLTE.html.twig" %}

{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<!-- Daterange picker -->
	<link rel="stylesheet" href="{{asset('adminlte3/plugins/daterangepicker/daterangepicker.css')}}">
	<link rel="stylesheet" href="{{asset('css/sekolySabata/stat/flatpickr.css')}}">

{% endblock %}
{% block title_page %}Statistique
{% endblock %}
{% block current_page %}Statistique composé
{% endblock %}

{% block content %}
	<section>
		{{ include('sekolySabata/stat/layout/menu.html.twig') }}
	</section>

	<section>
		<div id="tatitraGeneral"></div>
	</section>
	<section style="width:500px;display:none">
		<div class="row">
			<div class="col-md-4">
				<div>
					<canvas id="tongaMambraRejistraCanvas" style="width:500px; height:200px; "></canvas>
				</div>
			</div>
			<div class="col-md-4">
				<div style="width:500px; height:200px;position:relative">
					<canvas id="impitoMambraTongaCanvas"></canvas>
				</div>
			</div>
			<div class="col-md-4">
				<div style="width:500px; height:200px;position:relative">
					<canvas id="impitoMambraRejistraCanvas"></canvas>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div id="tatitraKilasyRehetra">:</div>
	</section>


{% endblock %}
{% block javascripts %}

	<script src="{{asset('js/admin/bootstrap-datepicker/moment.fr.js')}}"></script>
	{# // <script src="{{asset('js/admin/bootstrap-datepicker/bootstrap-datepicker.js')}}"></script> #}
	<script src="{{asset('adminlte3/plugins/daterangepicker/daterangepicker.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/daterangepicker.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/chart.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/chartConfig.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/datepicker.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/xlsx.full.min.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/tableExport.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/flatpickr.min.js')}}"></script>
	<script src="{{asset('js/sekolySabata/stat/flatpickrSettings.js')}}"></script>

{% endblock %}
