{{form_start(form,  {'action': path('creer_famille')})}}
<label for="">Nom de famille</label>
{{form_widget(form.nom)}}
<label for="">Membre de cette famille (optionnel)</label>
{{form_widget(form.mambra)}}
<label for="">Sexe de la membre de famille
</label>
{{form_widget(form.sexe)}}
<button class="btn btn-danger mt-2">
	Enregistrer</button>
{{form_end(form)}}
