{% extends 'baseFiladelfia.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}

	<h1>Details famille"{{famille.nom}}" (
		{{famille.mambras|length}}
		{{famille.mambras|length > 1 ? "personnes" :  "personne"  }})
	</h1>
	<table class="table">
		<thead>
			<th scope="col">Nom</th>
			<th scope="col">Sexe</th>
			<th scope="col">Action</th>
		</thead>
		<tbody>
			{% for mambra in famille.mambras %}
				<tr>
					<td>{{mambra.nom}}</td>
					<td>{{mambra.sexe}}</td>
					<td>
						<a href="{{path('filadelfia_details_mambra', {'id' : mambra.id})}}" class="">
							<i class="fa fa-list"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
