<h5>Details famille"{{famille.nom}}" (
	{{famille.mambras|length}}
	{{famille.mambras|length > 1 ? "personnes" :  "personne"  }})
</h5>
<table class="table">
	<thead>
		<th scope="col">Nom</th>
		<th scope="col">Prénom</th>
		<th scope="col">Date de naissance</th>
		<th scope="col">Sexe</th>
	</thead>
	<tbody>
		{% for mambra in famille.mambras %}
			<tr>
				<td>{{mambra.nom}}</td>
				<td>{{mambra.prenom}}</td>
				<td>{{ mambra.dateNaissance|date('d-m-Y')}}</td>
				<td>{{mambra.sexe}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
