{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block title_page %}Liste kilasy
{% endblock %}
{% block current_page %}liste
{% endblock %}

{% block content %}


	{# <!-- Small boxes (Stat box) -->
	<div class="row">

		{% for kilasy in kilasies %}
			<div class="col-4  p-3">
				<div
					class="card card-widget widget-user">
					<!-- Add the bg color to the header using any of the bg-* classes -->
					<div class="widget-user-header bg-info h-auto">
						<h3 class="widget-user-username">{{kilasy['nom']}}</h3>
						<h5 class="widget-user-desc"></h5>
					</div>

					<div class="card-footer pt-1">
						<div class="row">
							<div class="col-sm-4 border-right">
								<div class="description-block">
									<h5 class="description-header">Mambra</h5>
									<span class="description-text">{{kilasy['mambra']}}</span>


								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
							<div class="col-sm-4 border-right">
								<div class="description-block">
									<h5 class="description-header">Mampianatra</h5>
									{% for mpampianatra in kilasy['mpampianatra'] %}

										<span class="description-text">{{mpampianatra['nom']}}</span>
									{% endfor %}
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
							<div class="col-sm-4">
								<div class="description-block">
									<h5 class="description-header">Mpanentana</h5>
									{% for mpanentana in kilasy['mpanentana'] %}

										<span class="description-text ">{{mpanentana['nom']}}</span>
									{% endfor %}
								</div>
								<!-- /.description-block -->
							</div>
							<!-- /.col -->
						</div>
						<div class="row">
							<div class="col-4">
								<a class="btn btn-app" href="{{ path('kilasy_ajout_mambra', {'id': kilasy['id']}) }}">
									<i class="fas fa-edit"></i>
									Ajout
								</a>
							</div>
							<div class="col-4">
								<a class="btn btn-app" href="{{ path('kilasy_show', {'id': kilasy['id']}) }}">
									<i class="fas fa-users"></i>
									Détails
								</a>
							</div>
							<div class="col-4">
								<a class="btn btn-app">
									<i class="fas fa-barcode"></i>
									Registres
								</a>
							</div>
						</div>
						<!-- /.row -->
					</div>
				</div>
			</div>
		{% endfor %}

	</div> #}

{# card #}
<div class="card">
		<div class="card-header">

			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Kilasy
					</h5>
				</div>
				<div class="row">
					<div class="mr-2">
						<a class="btn btn-outline-primary" href="{{ path('kilasy_new') }}">Nouvelle kilasy</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<table id="example1" class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Mambra</th>
						<th>Mpampianatra</th>
						<th>Mpanentana</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for kilasy in kilasies %}
						<tr id="kilasy_{{kilasy['id']}}">
							<td id="kilasy_{{kilasy['id']}}">{{kilasy['nom']}}</td>
							<td>{{kilasy['mambra']}}</td>
							
							<td>
							{% for mpampianatra in kilasy['mpampianatra'] %}
								<span class="description-text">{{mpampianatra['nom']}}</span>
							{% endfor %}
							</td>
							<td>
							{% for mpanentana in kilasy['mpanentana'] %}
								<span class="description-text ">{{mpanentana['nom']}}</span>
							{% endfor %}
							</td>

							<td>

								<div
									class="">
									<!-- Check all button -->
									<div class="btn-group">
										<a href="{{ path('kilasy_ajout_mambra', {'id': kilasy['id']}) }}" type="button" class="btn btn-default btn-sm" title="Ajout mambra">
											<i class="far fa-user"></i>
										</a>
										<a href="{{ path('kilasy_show', {'id': kilasy['id']}) }}" type="button" class="btn btn-default btn-sm" title="Détails">
											<i class="fas fa-edit"></i>
										</a>
										{# <button type="button" data-id={{hira_choral.id}} class="btn btn-default btn-sm btnAddHistorique" title="ajouter historique" data-toggle="modal" data-target="#modal-default">
											<i class="fas fa-share"></i>
										</button> #}
										<a type="button" class="btn btn-default btn-sm">
											<i class="fas fa-share"></i>
										</a>
									</div>
									<!-- /.btn-group -->

								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>
		<!-- /.card-body -->
	</div>

{% endblock %}
