<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Fiangonana</title>

		<!-- Bootstrap -->
		<link
		href="{{ asset( 'vendors/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
		<!-- Font Awesome -->
		<link href="{{ asset( 'vendors/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		{# Flashy #}
		<link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
		<link rel="stylesheet" href="{{ asset('select2/css/select2.min.css') }}">
	</head>
	<body>
		<div class="preloader">
			<span class="preloader-spin"></span>
		</div>
		<div class="site ">

			<div class="containerNav "></div>
			<div class="bg-gray p-2">
				<div class="row">
					<div class="col-md-5">
						<div class=""> {% block current_page %}{% endblock %}
							</div>
						</div>
						<div class="col-md-7 ml-auto">
							<div class=""> {% block current_page_right %}{% endblock %}
								</div>
							</div>
						</div>
					</div>
					<div class="containerBody container"> {% block body %}{% endblock %}
						</div>
					</div>
					<!-- jQuery -->
					<script src="{{asset('vendors/jquery/dist/jquery.min.js')}}"></script>
					{# // <script type="text/javascript" src="{{asset('plugins/popper/popper.min.js') }}"></script> #}
					<script src="{{asset('vendors/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
					<script src="{{asset('vendors/bootstrap/dist/js/bootstrap.min.js')}}"></script>

					<!-- Load Flashy default JavaScript -->
					<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
					{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
					<script src="{{ asset('select2/js/select2.min.js') }}"></script>

					{% block javascripts %}{% endblock %}
				</body>
			</html>
