{% extends 'baseClient.html.twig' %}
{% block title %}DGSR
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}
	<div class="text-center">
		<h1>
			creer service</h1>
		<a href="{{path('dgsr_accueil')}}" class="btn btn-dark">Retour DGSR</a>
	</div>
	{{form_start(form)}}
	<label for="">Nom</label>
	{{form_widget(form.nom)}}
	<label for="">Direction</label>
	{{form_widget(form.direction)}}
	<label for="">Ajouter nouvelle direction</label>
	{{form_widget(form.dir)}}
	<button class="btn btn-primary mt-2">Enregistrer</button>
	{{form_end(form)}}

	<div class="mt-5">
		<h3>
			liste des services</h3>

		<ul class="">
			{% for ser in services %}
				<li>
					{{ser.nom}}
					/
					{{ser.direction ? ser.direction.nom : ""}}
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}

{% block javascripts %}{% endblock %}
