{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block title_page %}Kilasy
{% endblock %}
{% block current_page %}liste
{% endblock %}

{% block content %}

	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Détails
						{{kilasy_lasitra.nom}}
					</h5>
				</div>
				<div class="row">
					<div class="mr-2">
						<a class="btn btn-outline-info" href="{{ path('kilasy_lasitra_index') }}" title="Liste kilasy">
							<i class="fa fa-list"></i>
						</a>
					</div>
					<div class="mr-2">
						<a href="{{ path('kilasy_lasitra_edit', {'id': kilasy_lasitra.id}) }}">edit</a>
					</div>
					<div>
						{{ include('sekolySabata/kilasy_lasitra/_delete_form.html.twig') }}
					</div>

				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<table class="table">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ kilasy_lasitra.id }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ kilasy_lasitra.nom }}</td>
					</tr>
					<tr>
						<th>TrancheAge</th>
						<td>{{ kilasy_lasitra.trancheAge }}</td>
					</tr>
					<tr>
						<th>Description</th>
						<td>{{ kilasy_lasitra.description }}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<!-- /.card-body -->
	</div>
{% endblock %}
